<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/onsen-css-components-default.css">
		<link rel="stylesheet" href="css/login.css">
		<title>Chat</title>
	</head>
	<body class="page">
		<div class="navigation-bar">
			<div class="navigation-bar__item left quarter float-left"></div>
			<div class="navigation-bar__item full float-left text-centering">
				<span class="navigation-bar__title navigation-bar__line-height float-left">
					Chat
				</span>
			</div>
			<div class="navigation-bar__item right quarter float-left">
				<span class="icon-button--quiet navigation-bar__line-height font-weight-500"></span>
			</div>
		</div>
		<div class="main-image-wrapper">
			<img src="images/chaticon.png">
		</div>			
		<div align="center">
			<a href="/twitter">
				<div class = "boton correcto">Sign in with Twitter</div>
			</a>
		</div>
	</body>
</html>